.margintopdp{
	margin-top: 20px;
}
.dp{
	width: 150px;
	height: 150px;
	border-radius: 25px;
}
.logosportq{
	width: 50px;
	height: 50px;
}
.primarysportq{
	background-color: #34c099;
}
.bgcolorsportq{
	background-color: #e9ebee;
}
.lapanganslider{
	width: 150px;
	height: 200px;
}