* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  outline: none;
  scroll-behavior: smooth;
}
a {
  color: inherit;
}
body {
  overflow-x: hidden;
}
input {
  height: 35px;
  border: 1px solid #c2c2c2;
  padding: 0 10px;
  border-radius: 5px;
}
#navDesktop .dropdown-menu {
  transform: translateX(-50%);
  left: 50%;
}
.btn {
  height: 35px;
  display: flex;
  padding: 0 10px;
  cursor: pointer;
  align-items: center;
  border: 1px solid transparent;
}
.container {
  width: 90%;
  max-width: none;
}
.slick-prev:before, .slick-next:before {
  color: #000 !important;
}
.slick-prev, .slick-next {
  background: none;
  color: #000 !important;
}
#navDesktop {
  padding: 0 5%;
  height: 80px;
  background-color: #56a2d9;
}
#navDesktop ul {
  height: 100%;
  display: flex;
}
#navDesktop ul li {
  display: flex;
  color: #fff;
  padding-right: 15px;
  align-items: center;
}
#navDesktop ul li:hover {
  color: #d5d5d5;
}
#navDesktop ul li:first-child {
  margin-right: auto;
}
#navDesktop ul li:not(:first-child) {
  padding-left: 15px;
}
#navDesktop ul li:nth-child(2) {
  flex-grow: 1;
}
#navDesktop ul li:nth-last-child(2) {
  margin-left: auto;
}
#navDesktop ul li:nth-child(2) form select {
  background-color: transparent;
  height: 100%;
  padding: 0 10px;
  width: 100%;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-position: right;
  background-image: url('../images/icon/chev-down.png');
  color: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid transparent;
}
#navDesktop ul li:nth-child(2) form option {
  color: #000;
}
#navDesktop ul a {
  display: block;
  text-transform: capitalize;
}
#navDesktop ul li form {
  width: 100%;
  position: relative;
}
#navDesktop ul li form input {
  width: 100%;
  height: 35px;
  padding-left: 15px;
  border-radius: 7px;
  border: 1px solid #d5d5d5;
}
#navDesktop ul li form button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  right: 15px;
  height: 35px;
  font-size: 18px;
  background-color: transparent;
  border: 1px solid transparent;
  position: absolute;
}
nav a:hover {
  color: inherit !important;
}
header#landingPage {
  height: calc(100vh - 80px);
  background-image: url('../images/header.jpg');
  background-color: rgba(46, 46, 46, 0.35);
  background-blend-mode: overlay;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
header#landingPage h1 {
  font-size: 60px;
  margin-bottom: 30px;
}
header#landingPage h2 {
  font-size: 35px;
}
#landingPage + main #outer-mitra figure img {
  width: 100%;
  object-fit: cover;
}
#landingPage + main #outer-mitra figure figcaption {
  padding: 15px 0;
}
#landingPage + main #outer-mitra figure figcaption h3, #landingPage + main #whyus figcaption h3, #landingPage + main #ourpeople .col-12 figcaption h3 {
  font-size: 24px;
  margin-bottom: 20px;
}
#landingPage + main #outer-mitra figure figcaption li {
  margin-bottom: 10px;
  color: #6f6f6f;
  display: flex;
  justify-content: space-between;
}
#landingPage + main #outer-mitra figure figcaption li * {
  display: inline;
  font-style: normal;
  color: #1f7199;
  font-weight: bold;
}
#landingPage + main #whyus figcaption {
  text-align: center;
}
#landingPage + main #joinus .container {
  padding: 40px;
  border-radius: 5px;
  border: 1.5px solid #c2c2c2;
}
#landingPage + main #joinus .col-auto h1 {
  font-size: 35px;
}
#landingPage + main #joinus .col-4 {
  font-size: 20px;
}
#landingPage + main #ourpeople .col-12 figure {
  text-align: center;
}
#landingPage + main #ourpeople .col-12 figure img {
  background-color: #dddddd;
  height: 150px;
  display: block;
  object-fit: scale-down;
}
#landingPage + main #ourpeople .col-12 figure figcaption {
  padding: 20px 0;
}
#landingPage + main #ourpeople .col-12 figcaption p {
  font-size: 20px;
  color: #909090;
}
footer {
  padding: 40px 0;
  color: #fff;
  background-color: #2f90ba;
}
footer .col-12:first-child img {
  display: block;
  width: 100%;
  height: 100%;
}
footer .col-12:nth-child(2) ul {
  height: 120px;
  text-transform: capitalize;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}
footer .col-12:nth-child(2) li {
  line-height: 40px;
  height: 40px;
}
footer .col-12:last-child form {
  display: flex;
  margin-top: 20px;
}
footer .col-12:last-child form button {
  background-color: #fff;
  margin-left: 10px;
  border-radius: 5px;
}
footer .col-12:last-child ul {
  margin-top: 20px;
  display: flex;
}
footer .col-12:last-child li:first-child {
  padding-left: 0;
}
footer .col-12:last-child li:last-child {
  padding-right: 0;
}
footer .col-12:last-child li {
  padding: 0 10px;
  font-size: 20px;
}
section {
  padding: 80px 0;
}
section .container > h1:first-child {
  margin-bottom: 60px;
  text-transform: capitalize;
  font-size: 30px;
  color: #5d5d5d;
  font-weight: bolder;
  text-align: center;
}

@media screen and (min-width: 768px) {
  #landingPage + main #outer-mitra .container .mitra .mitra__single {
    padding: 0 10px;
  }
}
